<div class="container">
  <h2>new in smart phones</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in iphone</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
      <h4 class="title">New in samsung</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
      <h4 class="title">New in vivo</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
      <h4 class="title">New in redmi</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
</div>